/*  Color
Web color, Color activ button, email, phone, button-hero - #2196F3 !!!
Color passiv button, h2, h3, button-portfolio-passiv - #212121 !!!
Color passiv email, phone, p - #757575 !!!

background header - #FFFFFF
background hero, footer - #2F303A
background main - #E5E5E5
backgrpund section our team - #F5F4FA

text hero, button-hero, address, button-portfolio-active - #FFFFFF
email+phone-footer - rgba(255, 255, 255, 0.6);

*/

/* Font
Font logo - Raleway 700
Font nav, mail, phone, hero, button-hero, h2, h3, p, address, email+phone-footer - Roboto 400, 500, 700, 900
*/

:root {
  --primary-text-color: #757575;
  --activ-button-color: #2196f3;
  --title-text-color: #212121;
  --text-hero-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-text {
  color: var(--activ-button-color);
}
